h1 Developing my own methods
p.
    There are a lot of methods in the UX field, so many that you can never use all of them on a single project. <br>
    For this learning goal I've set out to gather the methods that I think will be most useful to the type of projects I do, and plan on doing in the future; these projects will be mostly interactive, audio-visual experiences in physical or digital form.
p.
    Click on any of the methods to read a description about it.

//- List of all methods
-
    const methods = {
        research: [
            {
                title: "User Journey",
                points: [
                    "Gives you an overview of the entire user experience."
                ],
                description: `
                    A user journey discribes the experience the user has with your product. <br>
                    Common sections that can be found in user journeys are: <br>
                    <ul>
                        <li>Screenflow</li>
                        <li>Activities</li>
                        <li>User Actions</li>
                        <li>User Thoughts</li>
                        <li>Oppertunities</li>
                    </ul>
                `
            },
            {
                title: "Persona",
                points: [
                    "Gives you another perspective through which to look at your product",
                    "Allows a team to easily talk about the target audience"
                ],
                description: ""
            },
            {
                title: "Moodboad / Personality Profile",
                points: [
                    "Capture the personality of the product",
                    "Includes visual style and copy"
                ],
                description: ""
            },
            {
                title: "Content Model / Inventory",
                points: [
                    "Allows you to get a grasp of all the data and content a product contains"
                ],
                description: ""
            },
            {
                title: "Card Sorting",
                points: [
                    "Shows you how the user intuitively sorts peices of content"
                ],
                description: ""
            },
        ],
        designing: [
            {
                title: "Storytelling",
                points: [
                    "Encourages thinking about the story around the product",
                    "Allows you to better present a product"
                ],
                description: "Can be done through storyboard and narative arc."
            },
            {
                title: "Persuasive Principles",
                points: [
                    "Help you persuade the user to connect more with your product"
                ],
                description: "[link]"
            },
            {
                title: "Collaborative Design",
                points: [
                    "Involve users in the design process"
                ],
                description: ""
            },
            {
                title: "Product Roadmap",
                points: [
                    "Maps out the product experience over time",
                    "Shows how the product continues to add value to the customer"
                ],
                description: "Shows how the product continues to add value to the customer ovet time, for example how new features or expensions could be added over time to make the product even better, or how the user can add their own content to enrich the experience for the user."
            },
        ],
        prototyping: [
            {
                title: "Wireframes",
                points: [
                    "A quick representation of an app"
                ],
                description: "Only really useful for digital products, not complete."
            },
            {
                title: "Interactive Prototypes",
                points: [
                    "Allows you to test with users",
                    "Allows you to more clearly present the product"
                ],
                description: "Making high fidelity prototypes with interactivity allows you to test that design with users, to see if the interactions and page flow make sense. They also make it easier to show clients what a certain feature is going to look like, including animation and basic logic."
            },
        ],
        iterating: [
            {
                title: "Compare against UX principles",
                points: [
                    "See things you didn't notice before",
                ],
                description: "Running your product past and comparing againt the UX principles -- or Laws of UX as discribed below -- allows you to check your product from every possible UX angle; it allws you to see potention problems and points of potential where you didn't see it before"
            },
            {
                title: "Heuristic Review",
                points: [
                    "Run through all the things that could be improved about the usability"
                ],
                description: "Run through all the things that could be improved about the usability of the product."
            },
            {
                title: "User Testing",
                points: [
                    "There are many forms of getting insights from users"
                ],
                description: "There are many ways to get information from (potential) users. This could be done through interviews, surveys, usability testing with an (interactive) prototype etc."
            },
        ]
    }
    // header names
    const sectionNames = {
        research: "Research Phase",
        designing: "Design Phase",
        prototyping: "Prototyping Phase",
        iterating: "Iteration & Testing Phase"
    }


hr

each val, key in methods
    h2= sectionNames[key]

    each method in val
        button(onclick=`openMethod('${method.title}', this)` data-description=method.description).method
            h3= method.title
            each point in method.points
                .method-point= point

#method-popup