h1 Developing my own methods
p.
    There are a lot of methods in the UX field, so many that you can never use all of them on a single project. <br>
    For this learning goal I've set out to gather the methods that I think will be most useful to the type of projects I do, and plan on doing in the future; these projects will be mostly interactive, audio-visual experiences in physical or digital form.
p.
    Click on any of the methods to read a description about it.

//- List of all methods
-
    const methods = {
        research: [
            {
                title: "User Journey",
                points: [
                    "Gives you an overview of the entire user experience."
                ],
                description: `
                    A user journey discribes the experience the user has with your product. <br>
                    Common sections that can be found in user journeys are: <br>
                    <ul>
                        <li>Screenflow</li>
                        <li>Activities</li>
                        <li>User Actions</li>
                        <li>User Thoughts</li>
                        <li>Oppertunities</li>
                    </ul>
                `
            },
            {
                title: "Persona",
                points: [
                    "Gives you another perspective through which to look at your product",
                    "Allows a team to easily talk about the target audience"
                ],
                description: ""
            },
            {
                title: "Moodboad / Personality Profile",
                points: [
                    "Capture the personality of the product",
                    "Includes visual style and copy"
                ],
                description: ""
            }
        ],
        designing: [

        ],
        prototyping: [

        ],
        iterating: [

        ]
    }
    // header names
    const sectionNames = {
        research: "Research Phase",
        designing: "Design Phase",
        prototyping: "Prototyping Phase",
        iterating: "Iteration & Testing Phase"
    }


hr

each val, key in methods
    h2= sectionNames[key]

    each method in val
        button(onclick=`openMethod('${method.title}', this)` data-description=method.description).method
            h3= method.title
            each point in method.points
                .method-point= point

#method-popup